[Unit]
Description=Run ifplugd for automatic eth0 configuration

[Service]
ExecStart = /usr/sbin/ifplugd -fInM -i eth0
Restart = always

[Install]
WantedBy=multi-user.target
