[Unit]
Description=Run ifplugd for automatic eth2 configuration

After=network.target

[Service]
ExecStart = /usr/sbin/ifplugd -fInM -i eth2
Restart = always

[Install]
WantedBy=multi-user.target
