[Unit]
Description=Run ifplugd for automatic eth1 configuration

After=network.target

[Service]
ExecStart = /usr/sbin/ifplugd -fInM -i eth1
Restart = always

[Install]
WantedBy=multi-user.target
